* {

}

body {
    color: white;
    background-color: black;

}

menu {
    justify-content: center;
}

.main-menu{
    width: 13rem;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
}