* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*designed mobile first for ease of viewing*/
body {
    color: white;
    background-color: #6b6b6b;

}

header {
    min-width: 480px;
    padding: 20px;
    height: 270px;
    background-color: #2a607c;
    color: black;
}

header img {
    position: relative;
    justify-content: center;
}

nav {
    margin-top: 50px;
    font-size: 35px;
    height: 200px;
    float: right;
    justify-content: center;
}

ul {
    list-style-type: none;
}

nav li {
    display: block;
}

nav a {
    color: black;
    text-decoration: none;
}
.logo {
    position: absolute;
    align-self: center;
    height: 250px;
    width: 250px;
}

main {
    padding-left: 25px;
    padding-top: 10px;
    Padding-right: 25px;
    padding-bottom: 10px;
    color: white;
}

/*setting up grid for main page content*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 1em;
    grid-template-areas:
    "about-me"
    "me-details"
    "my-work"
    "work-details"
    "contact-me"
    "my-contacts";
    }
.aboutme{
    grid-area: about-me;
    text-align: right;
    ;
}
.me-details{
    grid-area: me-details;
}
.mywork {
    grid-area: my-work;
}
.work-details {
    grid-area: work-details;    
}

/*styling for portfolio cards once I have some*/ 
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  }

.justify-center {
    justify-content: center;
}
.portfolio-card-1 { /*styling for 1st portfolio card only*/
    position: relative;
    flex: 2 2 300px;
    min-width: 100%;
    min-height: 200px;
    margin-right: 5px;
    margin-bottom: 20px;  
    outline: 2px solid White;
    outline-offset: -2px;
    
  }
.portfolio-card {
    position: relative;
    flex: 1 1 150px;
    min-width: 50px;
    min-height: 200px;
    margin-right: 5px;
    margin-bottom: 20px;  
    outline: 2px solid White;
    outline-offset: -2px;
    
}

/* placeholder until actual images from applications can be used*/
.card-image {
    background-image: url("https://via.placeholder.com/150");
}
.card-name {
    padding: 6px;
    white-space: nowrap;
    background-color: black;
    position: absolute;
    bottom: 10px;
    max-width: min-content;
    /* border: 2px solid white; */
}
/* adding glow to highlight portfolio box */  
.portfolio-glow:hover {
    box-shadow: inset 0px 0px 8px palegoldenrod, 0 0 15px palegoldenrod;
} 
 
.contactme {
    grid-area: contact-me;
}
.my-contacts {
    grid-area: my-contacts;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    
}
/* preventing color change on contact link visit */
main ul li a:link {
    color: white;
}
main ul li a:visited {
    color: white;
}

/* styling for main content title sections */
.main-section-title {
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    border-bottom: 2px solid white;
}

footer {
    margin-top: 20px;
    text-align: center;
}
/*styling for desktop/tablet sized screens */
@media only screen and (min-width:768px) {
    .logo {
        position: absolute;
        left: 10px;
        top: 10px;
        height: 250px;
        width: 250px;
        margin-bottom: 10px;
    }
    
    
    nav {
        padding-top: 115px;
        margin-left: 20px;
        float: right;
        font-size: 30px;
    }
    
    nav li {
        display: inline-block;
        margin-left: 25px;
    }
    .main-section-title {
        padding-right:25px;
        padding-bottom: 20pxS;
        text-align: right;
        border-right: 2px solid white;
        border-bottom: 0px hidden ;
    }
}
